<!DOCTYPE html>
<html>
<head>

<link rel="shortcut icon" href="../assets/gasg-icon.ico" type="image/gasg-icon" />

	<title>Gray Area Sports Group</title>
	<div class="header-container">
		<a href="/pages.html"><img src="../assets/logo-title.jpg" alt="" id="about-logo-image"></a>	
	</div>
</head>
<body>
	<div class="about-container">
		<div class="about-text">
			<h3>About Us</h3>

			<hr class="style14">
			<br>

			<p>In addition to being a full-service sports management group that focuses on player representation, branding, endorsement marketing, non-profit & player development (on and off the court), we also teach our clients the business. Gone are the days where the players overuse, “my agent will handle that.” We’ll still handle it, but with us, it will not be because they do not know how to do it themselves if they had to.  </p>

			<p>Client representation + Client Empowerment = A much longer and fulfilling playing career as well as readiness for life after the game. That is what we are all about. </p>
			<br>
			<div class="bottom-container">
				<div class="bottom-text">
					<a href="#" class="previous round" id="back-button">&#8249;</a><a href="/pages.html"><h6> Return Home </h6></a>
				</div>
			</div>
		</div>
	</body>
	</html>