<!DOCTYPE html>
<html>
<head>
	<title>Gray Area Sports Group</title>
</head>
<body>
	<div class="container">
		<img src="../assets/logo-image.png" alt="" id="logo-image">
		<h5 id="email-text"><a href="mailto:info@grayareasportsgroup.com?subject=Website&nbsp;Contact">Contact Us</a>|<a href="about.html">About Us</a></h5>
	</div>
</body>
</html>

