<!DOCTYPE html>

<html>
<head>
	<title>Gray Area Sports Group</title>
</head>
<body>
	<p>
		<img src="../assets/logo-image.png" alt="" id="logo-image">
	</p>
	<p>
		 <a href="mailto:info@grayareasportsgroup.com?subject=WebsiteContact"><h5 id="email-text">info@grayareasportsgroup.com</h5></a>
	</p>
</body>
</html>