
@media only screen and (max-width: 500px) {
    #email-text {
	top: 25%;
	margin-top: 50px;
    }
}

.container {
	overflow:hidden;
	height: 500px;
	width: 400px;
	position: absolute;
	margin-top: -250px;
	margin-left: -200px;
	top: 50%;
	left: 50%;
}

body {
  background: #ffffff; /* fallback for old browsers */

}



#logo-image {

}


#email-text {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: lighter;
    color: #414141;
	position: absolute;
	top: 63%;
	left: 25.5%;
}

a {
    color: #414141;
}

/* unvisited link */
a:link {
    color: #414141;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: blue;
}

/* mouse over link */
a:hover {
    color: #414141;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: blue;
}
