body {
  background: #ffffff; /* fallback for old browsers */

}

p {
	width: 100px; height: 100px; /* must be present. No matter the value */
    position: absolute;          /* to props top/bottom take effect */
    margin: auto;                /* here's the magic. */
    bottom: 0px; top: 0px; 
}

#logo-image {
	height: 350px;
	width: 350px;
	position: fixed;
	top: 10%;
	left: 44%;
	margin-top: -50px;
	margin-left: -100px;
}

#logo-title {
	height: 100px;
	width: 400px;
	position: fixed;
	top: 50%;
	left: 42%;
	margin-top: -50px;
	margin-left: -100px;
}

#email-text {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: lighter;
    color: #414141;
	position: fixed;
	top: 68%;
	left: 52%;
	margin-top: -50px;
	margin-left: -100px;
}

a {
    color: #414141;
}

/* unvisited link */
a:link {
    color: #414141;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: blue;
}

/* mouse over link */
a:hover {
    color: #414141;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: blue;
}
